# Python & Virtual Environments
.venv/
venv/
ENV/
__pycache__/
*.py[cod]

# Streamlit Local Configuration
.streamlit/*
!.streamlit/config.toml

# OS Specific
Thumbs.db
.DS_Store

# Temporary Database Journals
*.db-journal
*.db-wal

# Logs & Temporary Files
*.log
*.tmp
temp/
logs/
